{% extends 'grade/base.html' %}

{% block contents %}
{% comment %} {% include 'student/navbar.html' %} {% endcomment %}
{% comment %} {% include 'teacher/sidebar.html' %} {% endcomment %}
{% comment %} {% include 'teacher/modal.html' %} {% endcomment %}

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                {% if request.user.is_student %}
                    <a class="navbar-brand" href="{% url 'student-grade' user.pk %}">Online Grading</a>
                {% elif request.user.is_teacher%}
                    <a class="navbar-brand" href="{% url 'teacher' %}">Online Grading</a>
                {% else %}
                    <a class="navbar-brand" href="{% url 'adminpage' %}">Online Grading</a>
                {% endif %}
            </div>

            <ul class="list-unstyled components">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <li>
                    <a href="{% url 'teacher' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'teacher-subjects' %}">My Subjects</a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'profile' %}">Edit Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'password-change' %}">Change Password</a>
                        </li>
                        {% comment %} <li>
                            <a href="#">Home 3</a>
                        </li> {% endcomment %}
                    </ul>
                </li>
                 <li>
                    <a href="{%url 'logout'%}">Logout</a>
                </li>
                {% comment %} <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> {% endcomment %}
            </ul>

            <ul class="list-unstyled CTAs">
                {% comment %} <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li> {% endcomment %}
                <footer class="text-center">&copy; JC Escala 2021 </footer>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    {% comment %} <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div> {% endcomment %}
                </div>
            </nav>

            <div class="container">
                <div class="row" id="row">
                    <div class="col-md border" id="student-list-gender">
                        <canvas id="myChart" width="300" height="200"></canvas>
                    </div>
                    <div class="col-md border" id="student-list-total">
                        <canvas id="myChart2" width="300" height="200"></canvas>
                    </div>
                </div>
                <div class="col-md mt-3 table-responsive border" style="margin:auto" id="student-list">
                    {% comment %} <a href="{% url 'teacher-subjects' %}">BACK</a> {% endcomment %}
                    <h1 id="subject-title">{{title.subject_name}}</h1>
                    <table class="table table-striped table-sm table-hover table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th scope="row">ID</th>
                                <th scope="row">NAME</th>
                                <th scope="row">GRADE</th>
                                <th scope="row">REMARKS</th>
                                <th scope="row">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for students in students_enrolled %}
                                <tr>
                                    <td>{{students.name.id_number}}</td>
                                    <td>{{students.name.name.get_full_name}}</td>
                                    <td>{{students.grade}}</td>
                                    <td>{{students.get_remarks_display}}</td>
                                    {% comment %} <td><a type="button" class="open-modal btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModalCenter" data-url="{% url 'grade-update' students.pk %}">Add grade</a></td> {% endcomment %}
                                    <td><a type="button" class="open-modal btn btn-warning btn-sm" href="{% url 'grade-update' students.pk %}">Add grade</a></td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>

    <!-- Here we create this empty div for inserting modal -->
    {% comment %} <div id="modal-div"></div> {% endcomment %}

        </div>
    </div>

  

{% endblock contents %}


{% block scripts %}

    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Male Students', 'Female Students'],
                datasets: [{
                    label: '# of Votes',
                    data: [{{male}}, {{female}}],
        backgroundColor: [
            'blue',
            'orange'
        ],
            // borderColor: [
            //     'rgba(255, 99, 132, 1)',
            //     'rgba(54, 162, 235, 1)',
            //     'rgba(255, 206, 86, 1)',
            //     'rgba(75, 192, 192, 1)',
            //     'rgba(153, 102, 255, 1)',
            //     'rgba(255, 159, 64, 1)'
            // ],
            borderWidth: 1
                }]
            },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
        });

        
        //Chart2

        const rate = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(rate, {
            type: 'doughnut',
            data: {
                labels: ['Passed', 'Failed', 'INC/NG'],
                datasets: [{
                    label: '# of Votes',
                    data: [{{passed}}, {{failed}}, {{inc}}],
        backgroundColor: [
            'rgb(60, 179, 113)',
            'rgb(255, 0, 0)'
        ],
            // borderColor: [
            //     'rgba(255, 99, 132, 1)',
            //     'rgba(54, 162, 235, 1)',
            //     'rgba(255, 206, 86, 1)',
            //     'rgba(75, 192, 192, 1)',
            //     'rgba(153, 102, 255, 1)',
            //     'rgba(255, 159, 64, 1)'
            // ],
            borderWidth: 1
                }]
            },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
        });

    </script>

{% endblock scripts %}