{% extends "grade/base.html" %}
{% load crispy_forms_tags %}
{% block contents %}
{% comment %} {% include 'student/navbar.html' %} {% endcomment %}
{% comment %} {% include 'account/navbar.html' %} {% endcomment %}

  <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
              {% if request.user.is_student %}
                <a class="navbar-brand" href="{% url 'student-grade' user.pk %}">Online Grading</a>
              {% elif request.user.is_teacher%}
                <a class="navbar-brand" href="{% url 'teacher' %}">Online Grading</a>
              {% else %}
                <a class="navbar-brand" href="{% url 'adminpage' %}">Online Grading</a>
              {% endif %}
            </div>

            <ul class="list-unstyled components">
                <p>{{user.first_name}} {{user.last_name}}</p>
                
                {% if request.user.is_teacher %}
                  <li>
                      <a href="{% url 'teacher' %}">Home</a>
                  </li>
                  <li>
                      <a href="{% url 'teacher-subjects' %}">My Subjects</a>
                  </li>
                {% elif request.user.is_student %}
                  <li>
                      <a href="{% url 'student-grade' user.pk %}">Home</a>
                  </li>
                {% else %}
                  <li>
                      <a href="{% url 'adminpage' %}">Home</a>
                  </li>
                {% endif %}
                  
               
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Edit Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'password-change' %}">Change Password</a>
                        </li>
                        {% comment %} <li>
                            <a href="#">Home 3</a>
                        </li> {% endcomment %}
                    </ul>
                </li>
                <li>
                    <a href="{%url 'logout'%}">Logout</a>
                </li>
                {% comment %} <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> {% endcomment %}
            </ul>

            <ul class="list-unstyled CTAs">
                {% comment %} <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li> {% endcomment %}
                <footer class="text-center">&copy; JC Escala 2021 </footer>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    {% comment %} <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div> {% endcomment %}
                </div>
            </nav>

            <div class="profile-page">
    <div class="container-fluid mt-4" id="profile-page-container">
      <div class="col-md-6" style="margin:auto;">
        {% comment %} <div class="media mt-3">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="50" height="50">
          <div class="media-body">
            <h2 class="account-heading ml-2" id="profile-username">{{ user.username }}</h2>
            <p class="text-secondary ml-2" id="profile-email">{{ user.email }}</p>
          </div>
        </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" id="profile-info">Profile Info</legend>
                {{ u_form|crispy}}
                {{ p_form|crispy}}
            </fieldset>
            <div class="form-group mb-3 mt-3">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form> {% endcomment %}

        <div class="card mb-3" style="max-width: auto;" id="profile">
            <div class="card-header">
                <div class="media mt-3">
                  <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="50" height="50">
                  {% comment %} {% if user.profile.image %}
                      <img class="rounded-circle account-img" id="student-image" src="{{ user.profile.image.url }}" width="90" height="90">
                  {% else %}
                      <img class="rounded-circle account-img" id="student-image" src="{% static 'images/default.jpg' %}" width="90" height="90">
                  {% endif %} {% endcomment %}
                  <div class="media-body">
                    <h2 class="account-heading ml-2" id="profile-username">{{ user.username }}</h2>
                    <p class="text-secondary ml-2" id="profile-email">{{ user.email }}</p>
                  </div>
                </div>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4" id="profile-info">Profile Info</legend>
                      {{ u_form|crispy}}
                      {{ p_form|crispy}}
                  </fieldset>
                  <div class="form-group mb-3 mt-3">
                      <button class="btn btn-primary" type="submit">Update</button>
                  </div>
              </form>
            </div>
        </div>

      </div>
    </div>
  </div>

        </div>
    </div>

  
{% endblock contents %}

              