body{
    background-color: #f0f1f3;
}

.navbar{
    background-color: #f0f1f3;
    /* background-color: #2fa6fc; */
    color: #646464;
    box-shadow: 0px 6px 6px -6px rgba(0,0,0,.5);
}

#login-page{
    /* display: flex; */
    align-items: center;
    /* min-height: 100vh; */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Admin */


/* Students */

#about{
    color: #111111;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
}

#about-card, #grade-card{
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgb(229 229 229);
    padding: 15px 30px 30px;
    background-color: #ffffff;
}



#student-name, #student-gender, #student-birth, #student-course, #student-year, #student-status{
    color: #646464;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}

#student-name-info, #student-gender-info, #student-birth-info, #student-course-info, #student-year-info, #student-year-status{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-weight: 500;
}

#student-image{
    margin-bottom: 6px;
    background-color: #4dd0e1;
}


/* Teachers */

#subject-title{
    text-align: center;
}

#student-update-grade{
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#update{
    margin: auto;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgb(229 229 229);
    padding: 15px 30px 30px;
    background-color: #ffffff;
}

#teacher-students, #teacher-subjects, #student-list, #change-password, #login, #profile, #password-success, #teacher-gender-dash, #total-subjects, #total-students, 
#admin-teacher-list{
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgb(229 229 229);
    padding: 15px 30px 30px;
    background-color: #ffffff;
}

#my-students{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
}

#my-subjects, #subject-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
    font-weight: 500;
}

/* #password-success-change{
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

.errorlist{
    color: red;
    list-style-type: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

#row{
    margin: 0px;
}

#teacher-gender-dash{
    margin-right: 1rem;
}

#stream{
    margin-left: .5rem;
    padding: 0px;
    margin: 0px;
}

#total-students{
    padding: 15px 0px 0px;
}

#total-subjects{
    padding: 15px 0px 0px;
}

#students, #subjects{
    margin-bottom: 0px;

}

#students, #subjects{
    color: #ffffff;
}


#student-list-gender, #student-list-total{
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgb(229 229 229);
    padding: 15px 30px 30px;
    background-color: #ffffff;
}

#student-list-gender{
    margin-right: 1rem;
}

@media screen and (max-width: 767px) {
    #student-list-gender{
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
}




/*  Sidebar  */

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 0px 40px 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}