{% extends 'grade/base.html' %}

{% block contents %} 

    <div class="container" id="password-success-change">
        <div class="col-md-6 text-center border mt-3" id="password-success" style="margin:auto">
            <h3>Password Changed</h3>
            
            {% if request.user.is_student %}
                <a class="btn btn-primary" href="{% url 'student-grade' user.pk %}">Home</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'teacher' %}">Home</a>
            {% endif %}
                
            
        </div>
    </div>

    
    
{% endblock contents %}