<nav class="navbar navbar-expand-lg navbar-light">
  
  {% if request.user.is_student %}
    <a class="navbar-brand" href="{% url 'student-grade' user.pk %}">Online Grading</a>
  {% elif request.user.is_teacher%}
    <a class="navbar-brand" href="{% url 'teacher' %}">Online Grading</a>
  {% else %}
    <a class="navbar-brand" href="{% url 'adminpage' %}">Online Grading</a>
  {% endif %}
      
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% comment %} <li class="nav-item active">
        <a class="nav-link" href="{% url 'teacher-subjects' %}">Home <span class="sr-only">(current)</span></a>
      </li> {% endcomment %}
      {% comment %} <li class="nav-item">
        <a class="nav-link" href="{% url 'teacher-subjects' %}">Subjects</a>
      </li> {% endcomment %}

      
      {% if request.user.is_student %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.first_name}} {{user.last_name}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'password-change' %}">Change Password</a>
            <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>
          </div>
        </div>
      {% elif request.user.is_teacher %}
        <a class="nav-link" href="{% url 'teacher-subjects' %}">My Subjects</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.first_name}} {{user.last_name}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'password-change' %}">Change Password</a>
            <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>
          </div>
        </div>
      {% else %}
        {% comment %} <a class="nav-link" href="{% url 'teacher-subjects' %}">My Subjects</a> {% endcomment %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.first_name}} {{user.last_name}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'password-change' %}">Change Password</a>
            <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>
          </div>
        </div>
      {% endif %}
        

      

    </ul>

    {% comment %} <div class="form-inline my-2 my-lg-0">
      <a class="nav-item nav-link" style="color:silver" href="{%url 'logout'%}">Logout</a>

    </div> {% endcomment %}

    

</nav>